body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.opening-balance {
  width: 100px;
  margin: 0px !important;
  align-content: center;
  .button {
    align-self: center
  }
}
select {
  text-align: center;
  align-self: center;
  width: 200px;
  margin: 10px;
}
form {
  display: flex;
  flex-flow: column wrap;
}

input {
  text-align: center;
  align-self: center;
  width: 200px;
  margin: 10px;
}

label {
  margin: 10px;
}

.main-form-container {
  margin-top: 5%;
}

.form-container {
  margin-left: 3%;
  margin-right: 3%;
}

.switch {
  align-self: center;
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
  margin-left: auto;
  margin-right: auto;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider-spicy.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider-spicy.round:before {
  border-radius: 50%;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-spicy {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-spicy:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider-spicy {
  background-color: #9c24ac;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:focus + .slider-spicy {
  box-shadow: 0 0 1px #9c24ac;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:checked + .slider-spicy:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.custom-bank-fields {
  visibility: visible;
  height: 50px;
  border-radius: 10px;
  border-color: #f37221;
  font-size: 1.2rem;
  margin-bottom: 3%;
}

.bank-name-selector {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 10px;
  border-width: 0;
  height: 50px;
  padding: 2px;
  background-color: #d3d3d3;
  color: black;
  font-size: 1.2rem;
  margin-bottom: 3%;
}

.bank-name-selector:hover {
  background-color: #9fb8ff;
  transition: all 0.3s;
}

.bank-name-selector:focus {
  border-width: 0;
}

.bank-name-selector-container {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.balance-row {
  text-align: center;
  margin-bottom: 3%;
}

.balance-text-field {
  font-size: 1.2rem!important;
}

.row-margin {
  margin-bottom: 3%;
}

.table-style-image {
  width: 100%;
}

.table-style-row {
  text-align: center;
  margin-top: 5%;
}

.table-style-col {
  text-align: center;
}

.toggle-container {
  text-align: center;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  border-color: #165e98;
  padding: 15px;
}

.statement-summary-options {
  text-align: center;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  border-color: #165e98;
  padding: 15px;
  margin-bottom: 3%;
}

.slider-box {
  text-align: center;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  border-color: #165e98;
  padding: 15px;
  margin-top: 3%;
}

.transaction-slider {
  margin: 0!important;
}

.generate-button {
  margin-left: auto!important;
  margin-right: auto!important;
  display: block!important;
  width: 100%!important;
  height: 120px!important;
  margin-top: 4%!important;
  margin-bottom: 5%!important;
  color: white!important;
  background-color: #d3881f!important;
  font-size: 4rem!important;
  font-weight: bolder!important;
  border-radius: 10px!important;
  transition: all 0.2s ease-in-out!important;
}

.generate-button:hover {
  transform: scale(1.2);
  background-color: #18d437!important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.warning-noise-message {
  color: red;
  font-weight: bolder;
}